.delete {
  font-size: 13px;
  line-height: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 5px;
  position: relative;
  padding-left: 25px;
  user-select: none;
  outline: none;
  color: black;
  &[data-highlighted] {
    background-color: var(--violet-9);
    color: gray;
    cursor: pointer;
  }
}
