@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #ffffff;
  --borders: #f10000;
  --boxbackground: #2e2e2e;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  justify-items: center;
}
